<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Task Master</h1>
  <p>Task Master is an online smart to do list that helps you to keep tabs on your tasks and their status.</p>
<%= link_to "Sign up","#", class:"btn btn-primary btn-lg"%>
</div>
